.heading{
    padding: 10px 0 ;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
}
.buttons{
    display: flex;
    gap: 15px;
}
.desc{
    padding: 20px 0;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    color: rgb(102, 102, 102);
}
.main-box{
    padding-top: 40px;
    display: flex;
    height: calc(100vh - 67px) !important;
    overflow: hidden;
}
.right{
    width: 45%;
    overflow: hidden;
    height: 100vh;
    
    /* margin-left: -60px; */
    img{
        height: 700px;
    }
    
}

.left{
    width: 55%;
    padding: 10px 8% 10px 10%;
}
.sites img{
    padding: 10px;
}
@media only screen and (max-width: 730px) {
  .main-box{
    overflow: hidden;
    position: relative;
  }
  .left{width: 100%;}
  .right{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
  }
  .heading{
    font-size: 55px;
  }
  .right img{
    height: 450px;
  }
}
