.nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-item a{
   padding: 0 12px;
   text-decoration: none;
   color: black;
   font-weight: 500;
}
@media only screen and (max-width: 730px) {
    .nav{
        justify-content: space-between;
    }
    .nav-item{
        display: none;
    }
}